VITE_SUPABASE_URL=https://lsgpyyorquswtqestbnw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzZ3B5eW9ycXVzd3RxZXN0Ym53Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTE2OTQyMjAsImV4cCI6MjAyNzI3MDIyMH0.fiiXGD_aZhYdIcpRJZzFJzIlOaQIxGqPJiGVW05YQ7s