.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5vw 20px;
  width: 100%;
}

.Wrapper h3 {
  font-family: "AVGARDDbold";
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Secondary, #790416);
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.Header button:nth-child(1) {
  visibility: hidden;
}
.Header button:nth-child(3) {
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  margin-bottom: 1em;
}

.content img {
  max-width: 100%;
  object-fit: cover;
}

.content > div {
  display: flex;
  gap: 1em;
  width: 100%;
}

.content .group_1 img:nth-child(1),
.content .group_1 img:nth-child(2),
.content .group_1 img:nth-child(3) {
  width: calc(100% / 3 - 0.666em);
}

.content .group_2 > div {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 0.666em);
  gap: 1em;
}

.content .group_2 > div img:nth-child(1) {
  width: 100%;
}

.content .group_2 > img {
  width: calc((100% / 3) * 2 - 0.3em);
}

.content .group_3 > img {
  width: calc(100% / 3 - 0.666em);
}
.content .group_3 > div {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% / 3) * 2);
  gap: 1em;
  justify-content: space-between;
}

.content .group_3 > div img {
  width: calc(100% / 2 - 0.5em);
}

.view{
  background-color: #790416;
  color: white;
  padding: 10px 20px ;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
}
/* @media screen and (max-width:650px) {
  .content img{
    width: 100% !important;
  }
  .content > div{
    flex-direction: column;
  }
  .content .group_2 > div,.content .group_3 > div {
    width: 100%;
  }
} */
