.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 6vh 10vw;
}
.Wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.Wrapper h2 {
  color: var(--Secondary, #790416);
  font-family: "AVGARDDbold";
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
.Wrapper p {
  font-size: 1.2em;
  line-height: 1.2;
}

@media screen and (max-width: 500px) {
  .Wrapper p {
    font-size: 1em;
  }
}
