.Wrapper{
  display: flex;
  flex-direction: column;
  padding: 0px 0vw 6vh;
  gap: 3vh;
  align-items: center;
}

.Wrapper h2 {
  font-family: "AVGARDDbold";
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Secondary, #790416);
}

.individual {
    height: 300px;
    padding: 0px 30px 0px 0px;
}

.individual img{
    height: 100%;
}