.Wrapper {
  display: flex;
  padding: 0px 5vw 6vh;
  gap: 6vh;
}
.Wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
}
.Wrapper .Grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Wrapper h2 {
  color: var(--Secondary, #790416);
  font-family: "AVGARDDbold";
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
.card {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.card .details {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.details h3{
  font-size: 18px;
  color: #790416;
}
.details p{
  font-size: 13px;
  line-height: 1;
}
.details a {
  background-color: #fdb5c0;
  width: 28px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details a svg{
  width: 18px;
}
@media screen and (max-width: 1400px) {
.Wrapper{
  flex-direction: column;
}
.Wrapper .Grid{
  flex-wrap: wrap;
}
}
@media screen and (max-width: 1100px) {
  .card {
    max-width: 250px;
  }
  .card .details {
 
    gap: 15px;
  }
}
