.Wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 6vw 6vh;
  gap: 6vh;
}
.Wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
}
.Wrapper .Grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Wrapper h2 {
  color: var(--Secondary, #790416);
  font-family: "AVGARDDbold";
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-bottom: 3px solid #fdb5c0;
}
.card .details {
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}

.details a {
  background-color: #fdb5c0;
  width: 40px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .card {
    max-width: 250px;
  }
  .card .details {
 
    gap: 15px;
  }
}
