.Wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 10vw 6vh;
  gap: 3vh;
}

.Wrapper h2 {
  color: var(--Secondary, #790416);
  font-family: "AVGARDDbold";
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.Wrapper .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}