.navbarWrapper {
  position: sticky;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10vw 20px;
  z-index: 9990;
  backdrop-filter: blur(8px);
  top: 0;
  min-height: 80px;
  background-color: white;
}
.navbarWrapper > div {
  width: fit-content;
}
.navbarWrapper button {
  background-color: transparent;
 font-family: "AVGARDDnormal";
}
.navbarLeft {
  width: fit-content;
  background-color: transparent;
}
.navbarLeft .logo {
  width: 100px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 9999;
}

.navbarRight{
  display: flex;
  align-items: center;
  gap: 4vw;
}
.navbarRight > button{
  text-transform: capitalize;
  font-size: 17px;
}

.navbarWrapper .StudyButton,
.navbarWrapper .navbarMobile > .StudyButton {
  padding: 10px 15px;
  color: #fff;
  background-color: var(--color-secondary);
  font-weight: 600;
  margin: 0;
  border: none;
  border-radius: 4px;
}
.navbarWrapper .StudyButton {
  color: white;
  font-weight: 500;
  font-family: "AVGARDDnormal";
}

.navbarMobile {
  display: none;
}
.navbarMobile .menuMd {
  background-color: transparent;
  color: black;
  font-size: 25px;
}
.navbarMobile > div {
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
  backdrop-filter: blur(8px);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0vw;
  top: 0;
  gap: 5px;
  height: calc(100vh);
  width: calc(100vw);
  justify-content: space-around;
  padding: 20px;
}
.navbarMobile > div > a > p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.navbarMobile > div > button {
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  align-self: center;
}
.navbarWrapper a {
  text-decoration: none;
}
.navbarWrapper .activeLink {
  color: var(--color-secondary);
}
.navbarWrapper .link {
  color: #555555;
}
@media screen and (max-width: 800px) {
  .navbarRight {
    display: none;
  }
  .navbarMobile {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
  .navbarWrapper > .StudyButton {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .navbarWrapper {
    padding: 20px 10vw 15px;
  }
}
@media screen and (max-width: 480px) {
  .navbarLeft .logo {
    display: flex;
  }
  /* .navbarLeft .hidden {
    opacity: 0;
  } */
}
