.Wrapper {
  display: flex;
  flex-direction: row;
  background: #790416;
  min-height: calc(100dvh - 80px);
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  gap: 2em;
}
.Wrapper > img {
  width: 50%;
  height: 100%;
  min-height: calc(100dvh - 80px);
  object-fit: cover;
}
.Wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  text-align: left;
  padding: 0vh 0px 0px 8vw;
}
.Wrapper h1 {
  font-size: 4em;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.1;
  font-family: "AVGARDDbold";
}
.Wrapper h1:nth-child(1) {
  text-transform: none;
}
.Wrapper p {
  font-size: 1.2em;
}
.hidden {
  opacity: 0;
}
.consoleUnderscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
  color: white;
}

.Wrapper button {
  border-radius: 4px;
  border: 1px solid #fff;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .Wrapper h1 {
    font-size: 3em;
  }
  .Wrapper p {
    font-size: 1.1em;
  }
  .Wrapper {
    flex-direction: column-reverse;
  }
  .Wrapper > div {
    width: 100%;
    padding: 3vh 10vw;
  }
  .Wrapper > img {
    width: 100%;
    min-height: 50dvh;
  }
}
