.Wrapper {
  display: flex;
  flex-direction: column;
  background: url(./bg.png) center center/cover no-repeat;
  min-height: calc(100dvh - 80px);
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 6vh 10vw;
  gap: 2em;
}

.Wrapper h1 {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  font-family: "AVGARDDbold";
}
.Wrapper p {
  font-size: 1.2em;
}
.hidden {
  opacity: 0;
}
.consoleUnderscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
  color: white;
}

.homeButtonNav {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 5%;
}

.m_scroll_arrows {
  display: block;
  transform: rotate(45deg);
  border-right: 3px dashed #ffffff;
  border-bottom: 3px dashed #ffffff;
  margin: 0 0 3px;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}

.unu,
.doi,
.trei,
.quad {
  animation: mouse-scroll 1s infinite alternate;
  margin-top: -20px;
}

.unu {
  animation-delay: 0.1s;
}
.doi {
  animation-delay: 0.2s;
}
.trei {
  animation-delay: 0.3s;
}
.quad {
  animation-delay: 0.4s;
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .Wrapper h1 {
    font-size: 3em;
  }
  .Wrapper p {
    font-size: 1.1em;
  }
}
