/* AdminDashboard css */
.AdminDashboard {
  padding: 100px 5vw 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
    background-color: white;
  width: 100%;
}

.AdminDashboard .buttonWrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.AdminDashboard .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.AdminDashboard .head > a {
  text-decoration: none;
  color: white;
  background-color: #034852;
  padding: 10px 25px;
  border-radius: 10px;
}
.AdminDashboard .buttonWrapper button {
  padding: 20px 35px;
  border-radius: 10px;
}

.AdminDashboard h1 {
  color: var(--Primary, #034852);
  font-family: "Raleway";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.allBlogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.allBlogs .header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.allBlogs .blogWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: left;
  justify-content: center;
}

.allBlogs button {
  background-color: rgba(0, 39, 45, 1);
  padding: 11px 32px;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Raleway";
  cursor: pointer;
}
